@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: "Poppins",sans-serif;;
    background-color: #4e4e4e;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

#tradeForm {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 320px;
    height: 95%;
    margin-left: 5%;
    margin-top: 23%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 18px;
    background-color:  #707070;
    border: none;
    outline: none;
    color: #fff;
}

input::placeholder {
    color: #b9b9b9; 
}

button {
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#buyButton {
    background-color: #006100;
    margin-bottom: 4%;
}

#sellButton {
    background-color: #890700; /* Red */
}

#coinPrice,
#availableBalance,
#totalPayment,
#currentQuantity {
    font-weight: bold;
    margin-left: 5px;
    /* margin-bottom: 4%; */
}

#addFunds {
    background-color: #484848;
    margin-bottom: 3%;
}

#price-sec{
    display: flex;
    margin-top: 5%;
}

#avail-bal-sec{
    display: flex;
    margin-top: 3%;
}

#payment-sec{
    display: flex;
    margin-top: 5%;
}

