/* Basic styling for the container */
#container {
    margin: 20px;
  }
  
  /* Styling for the table */
  .coin-list {
    display: table;
    width: 100%;
    border-collapse: collapse;
    background-color: #f2f2f2; /* Background color for the entire table */
  }
  
  /* Styling for table rows */
  .coin-div {
    display: table-row;
    height: 80px; /* Adjust the height as needed */
  }
  
  /* Styling for alternate row colors */
  .coin-div:nth-child(even) {
    background-color: #f9f9f9; /* Alternate row background color */
  }
  
  /* Styling for table cells */
  .coin-div > * {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
  }
  
  /* Styling for specific columns */
  .coin-div .coin-image {
    width: 40px;
  }
  
  .coin-div .coin-name {
    font-size: 16px; /* Adjusted font size for the name */
  }
  
  .coin-div .trade-btn {
    width: 80px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 8px;
    border: none;
    border-radius: 4px;
  }
  
  /* Hover effect on buttons */
  .coin-div .trade-btn:hover {
    background-color: #37c037;
  }

  


/* Styling for negative market price change */
.coin-div .trade-btn.negative-change {
    background-color: #ff6961; /* Red color for negative change */
  }
  

  .coin-div .trade-btn.positive-change {
    background-color: #77dd77; 
  }

  /* Styling for the search bar and sorting buttons */
#searchBarContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#searchBar {
  padding: 8px;
  margin-right: 10px;
}

#searchButton {
  padding: 8px;
  cursor: pointer;
}

.sort-button {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

h4 {
  margin-right: 5px;
}

button {
  padding: 5px;
  cursor: pointer;
}

/* Styling for ascending and descending buttons */
.ascending-price,
.ascending-24h,
.ascending-market,
.descending-price,
.descending-24h,
.descending-market {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
}

/* Hover effect on ascending and descending buttons */
.ascending-price:hover,
.ascending-24h:hover,
.ascending-market:hover,
.descending-price:hover,
.descending-24h:hover,
.descending-market:hover {
  background-color: #45a049;
}

/* Additional styling specific to ascending buttons */
.ascending-price,
.ascending-24h,
.ascending-market {
  margin-right: 0;
}

/* ... (add specific styles for each sorting button if needed) */


